# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc
*.pyo

# Temporary files

# Processed image caches
imagenes_transparentes_cache/*
!imagenes_transparentes_cache/.gitkeep
imagenes_procesadas/*
!imagenes_procesadas/.gitkeep

# Output
output/*
!output/.gitkeep
